## **matala 3**
# **shirel alimi**
318968369

In [91]:
import pandas as pd
import numpy as np
import requests
import json
from google.colab import drive

In [92]:
from google.colab import drive
drive.mount('/content/drive')
path="/content/drive/MyDrive/data/"
filename ='dests.txt'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [93]:
with open(path+ filename, 'r') as file:
    destinations = file.read().splitlines()

In [94]:
df = pd.DataFrame(columns=['Target', 'Distance_km', 'Duration', 'Longitude', 'Latitude'])
for dest in destinations:
    response = requests.get(f'https://maps.googleapis.com/maps/api/distancematrix/json?units=metric&origins=Tel+Aviv&destinations={dest}&key=AIzaSyDajtUhPgYtbEyNgSTXdZQfiY5HUeihzLQ')
    data = response.json()

    duration = data['rows'][0]['elements'][0]['duration']['text']
    distance_km = data['rows'][0]['elements'][0]['distance']['value'] / 1000


    response = requests.get(f'https://maps.googleapis.com/maps/api/geocode/json?address={dest}&key=AIzaSyDajtUhPgYtbEyNgSTXdZQfiY5HUeihzLQ')
    data = response.json()

    longitude = data['results'][0]['geometry']['location']['lng']
    latitude = data['results'][0]['geometry']['location']['lat']

    df = df.append({'Target': dest, 'Distance_km': distance_km, 'Duration': duration, 'Longitude': longitude, 'Latitude': latitude}, ignore_index=True)

<ipython-input-94-55faff7a3ccd>:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Target': dest, 'Distance_km': distance_km, 'Duration': duration, 'Longitude': longitude, 'Latitude': latitude}, ignore_index=True)
<ipython-input-94-55faff7a3ccd>:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Target': dest, 'Distance_km': distance_km, 'Duration': duration, 'Longitude': longitude, 'Latitude': latitude}, ignore_index=True)
<ipython-input-94-55faff7a3ccd>:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Target': dest, 'Distance_km': distance_km, 'Duration': duration, 'Longitude': longitude, 'Latitude': latitude}, ignore_index=True)
<ipython-input-94-55faff7a3ccd>:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Target': dest, 'Distance_km': distance_km, 'Duration': duration, 'Longitude': longitude, 'Latitude': latitude}, ignore_index=True)
<ipython-input-94-55faff7a3ccd>:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Target': dest, 'Distance_km': distance_km, 'Duration': duration, 'Longitude': longitude, 'Latitude': latitude}, ignore_index=True)

      Target  Distance_km          Duration  Longitude   Latitude
0   Istanbul     1815.227   21 hours 3 mins  28.978359  41.008238
1  Amsterdam     4532.541    2 days 0 hours   4.904139  52.367573
2   Valletta     3792.883    2 days 3 hours  14.514100  35.899237
3      Basel     4092.805    1 day 20 hours   7.588576  47.559599
4       Doha     2164.477  22 hours 39 mins  51.531040  25.285447

In [96]:
df

      Target  Distance_km          Duration  Longitude   Latitude
0   Istanbul     1815.227   21 hours 3 mins  28.978359  41.008238
1  Amsterdam     4532.541    2 days 0 hours   4.904139  52.367573
2   Valletta     3792.883    2 days 3 hours  14.514100  35.899237
3      Basel     4092.805    1 day 20 hours   7.588576  47.559599
4       Doha     2164.477  22 hours 39 mins  51.531040  25.285447

In [95]:
df.nlargest(3, 'Distance_km')

      Target  Distance_km        Duration  Longitude   Latitude
1  Amsterdam     4532.541  2 days 0 hours   4.904139  52.367573
3      Basel     4092.805  1 day 20 hours   7.588576  47.559599
2   Valletta     3792.883  2 days 3 hours  14.514100  35.899237